:root {
    --footer-height:10vh;
    --footer-icon-width:8vh;
    --white-text:#f0f8ff80;
    --page-margins-side:2vw;
    --bg-colour:#b57878;
}

body {
    background-color: var(--bg-colour);
    text-align: center;
    overflow:hidden;
}

footer {
    z-index:9;
}

div.gallery-links {
    display:inline-flex;
    position:absolute;
    flex-wrap:wrap;
    float:left;
    left:2vw;
    bottom: var(--footer-height);
    width:calc(100vw - var(--page-margins-side));
    height:fit-content;
    margin:0;
    padding:0;
}

div#gallery-big-links {
    display:inline-flex;
    position:relative;
    align-items:center;
    gap: 0vw;
    width:70vw;
    margin-bottom: 5vh;
    min-height:fit-content;
}

div#gallery-big-links > div {
    position:relative;
}

div#gallery-big-links > div:first-child{
    padding-right:6.5vw;
    align-self:flex-start;
    border-right: 1vw solid var(--white-text);
}

div#gallery-big-links > div:last-child {
    padding-left:6.5vw;
    position: absolute;
    right:0px;
}

div#gallery-small-links > div {
    position:relative;
    left:0vw;
}

div#gallery-small-links {
    display:inline-flex;
    position: relative;
    align-items: center;
    gap: 6vw;
    width:70vw;
    bottom:2vh;
    min-height:fit-content;
    z-index:1;
}

div#gallery-small-links:last-child {
    position: absolute;
    right:0px;
}

div#gallery-link {
    position:absolute;
    right:2vw;
    bottom:0px;
    z-index:0;
}

div.gallery * img {
    content:url("/gallery-closed.png");
}

div.gallery:hover * img {
    content:url("/gallery-open.png");
}

div.gallery {
    width:fit-content;
    height:fit-content;
}

div#animation-gallery-link {
    position: absolute;
    left: 2vw;
    bottom: var(--footer-height);
}